

<body>
	<div class="container">
		<div *ngIf="valido" class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>¡Credenciales aprobadas!</strong> Bienvenido
		</div>

		<div *ngIf="validoaux" class="alert alert-danger">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>Credenciales incorrectas</strong>
		</div>

	  <div class="row">
		<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
		  <div class="card card-signin my-5">
			<div class="card-body">
			  <h5 id="title_sign_in" class="card-title text-center">Sign In</h5>
			  <form class="form-signin">
				<div class="form-label-group">
					Username o Correo:
				  <input [(ngModel)]="correo" name="correo" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
				 
				</div>

				<div class="form-label-group">
					Contraseña:
				  <input [(ngModel)]="contrasena"  name="contrasena"type="password" id="inputPassword" class="form-control" placeholder="Password" required>
				 
				</div>

				<div class="custom-control custom-checkbox mb-3">
				  <input type="checkbox" class="custom-control-input" id="customCheck1">
				  <label class="custom-control-label" for="customCheck1">Remember password</label>
				</div>
				<button (click)="verificar_credenciales()" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" id="btn_sign_in">Sign in</button>
				<hr class="my-4">
				<button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
				<button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>
			  </form>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </body>
