
<button (click)="open(content)" class="btn btn-lg" style="background-color:red;">
    <i class="fas fa-gift fa-lg" style="color:white;"></i>
 </button>


 <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Regalar Giftcard</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <h6>Regalar Giftcard a: <i class="fas fa-gift fa-lg" style="color:red;"></i>   {{nombre}} </h6>
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Usuarios</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button *ngFor="let user of otherUser; index as i;" ngbDropdownItem
                    (click)="guardarUsuarioRegalo(user.username,i)">{{user.username}}</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="regalarGift()">Regalar</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cancelar</button>
    </div>
  </ng-template>